.infoTab {

}
.infoTab td:nth-child(2n-1):not([colspan="6"]){
    width: 8.33%;
    background-color:#EEEEEE;
}
.infoTab td:nth-child(2n):not([colspan="6"]){
    width: 25%;
}
.width-12-1 {
    width: 8.33%;
    background-color:#EEEEEE;
}
.width-12-3 {
    width: 25%;
}
.hidden-tab {
    display: none;
}
.a-no-decoration {
    color:#555555;
}
.btn-create {
    text-align:right;
    margin-right: 20px;
}
.modal{
    left: 40%;     /* 距离左边的距离 */
    width: 900px;  /* 模态框的长度 */
}
.modal.fade.in{
    top: 30%;      /* 具体上面的距离 */
}
.table-td-center tr td, .table-th-center tr th {
    text-align: center; /* 让表格中的td和th的内容居中 */
}